body {
  font-family: 'Manrope', Arial, sans-serif; /* Use Manrope font */
  text-align: center;
  margin: 50px;
  background-color: #f0f0f0;
}

input, button {
  width: 80%;  /* Set width to 80% of its container */
  max-width: 400px;  /* Limit the width to 400px */
  font-family: 'Manrope', Arial, sans-serif; /* Use Manrope font */
  display: block;
  margin: 10px auto;
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  background-color: #ffffff;
}

textarea {
  width: 80%;  /* Set width to 80% of its container */
  max-width: 400px;  /* Limit the width to 400px */
  font-family: 'Manrope', Arial, sans-serif; /* Use Manrope font */
  display: block;
  margin: 10px auto;
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  resize: vertical;  /* Allow resizing only vertically */
}

button[type="submit"] {
  width: 10%;
  max-width: 100px;
  color: white;  /* White text color */
  background-color: #d4949d;  /* Change border color on focus */
}

button[type="submit"]:hover {
  background-color: #5c63a4;  /* Darker blue on hover */
  transform: scale(1.1);  /* Upsize the button by 10% */
}
