body {
  font-family: 'Manrope', Arial, sans-serif;
  text-align: center;
  margin: 0;
  background-color: #393043;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Full viewport height */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%; /* Set a specific width instead of full width */
  max-width: 450px; /* Prevent it from being too wide */
  padding: 0px; /* Add some spacing inside */
  border-radius: 30px; /* Slightly rounded corners */
  background-color: #eeeefe;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Soft shadow for a floating effect */
}

input, button, textarea {
  width: 80%;
  max-width: 400px;
  font-family: 'Manrope', Arial, sans-serif;
  display: block;
  margin: 10px auto;
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  background-color: #c2c2da;
}

textarea {
  resize: vertical; /* Allow only vertical resizing */
  min-height: 75px; /* Set a reasonable minimum height */
}


button[type="submit"] {
  width: 20%;
  max-width: 100px;
  color: black;
  background-color: #afdfd3;
}

button[type="submit"]:hover {
  background-color: #ffd2e1;
  transform: scale(1.2);
}

/* Modal styling */
.modal {
  display: none; /* Hidden initially */
  position: absolute; /* Place it relative to .container */
  width: 80%; /* Adjust width */
  max-width: 350px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fefefe;
  color: black;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  pointer-events: auto;
  opacity: 0;
  animation: fadeInUp 0.5s ease-out forwards;
}

/* Animation to smoothly show the modal */
@keyframes fadeInUp {
  0% {
    transform: translate(-50%, 10px);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}


